<li>
  <%= link_to event do %>
      <p>Name <%= event.name %> </p>
  <% end %>
  <p>Date: <%= event.date %></p>
  <p>Location: <%= event.location %></p>
  <p>Creator: <%= event.creator.username %></p>
  <%= yield event %>
</li>