<div class="event_new">
  <%= form_with model: @event do |form| %>
    <p>
      <%= form.label :date %>
      <%= form.date_field :date %>
    </p
    <p>
      <%= form.label :location %>
      <%= form.text_field :location %>
    </p
</div>