<div class="event_new">
  <h1>Create a new event:</h1>
  <%= form_with model: @event do |form| %>
    <p>
      <%= form.label :date %>
      <%= form.date_field :date %>
    </p
    <p>
      <%= form.label :location %>
      <%= form.text_field :location %>
    </p>
    <%= form.submit %>
  <% end %>
</div>