<h1>Event info</h1>
<p>Name: <%= @event.name %></p>
<p>Date: <%= @event.date %></p>
<p>Location: <%= @event.location %></p>
Attendeees:
<ul>
  <% @event.attendees.each_with_index do |attendee, index| %>
    <li><%= index + 1 %>: <%= attendee.username %></li>
  <% end %>
</ul>

<% if @event.creator.id == current_user.id %>
  <%= link_to "Edit", edit_event_path(@event) %>
<% end %>