<header class="header">
  <h1 class="header-title">Private Events</h1>
  <nav class="nav">
    <ul class="nav-list">
      <li class="nav-item"><%= link_to "Events", events_path  %></li>
      <% if user_signed_in? %>
        <li class="nav-item"><%= link_to "New Event", new_event_path %></li>
        <li class="nav-item">Hello <%= link_to current_user.username, profile_path  %></li>
        <li class="nav-item"><%= link_to "Sign out", destroy_user_session_path, data: {turbo_method: :delete} %></li>
      <% else %>
        <li class="nav-item"><%= link_to "Sign in", user_session_path, data: {turbo_method: :post}  %></li>
      <% end %>
    </ul>
  </nav>
</header>